<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <nav class="navbar">
        <h4 class="navbar-logo"><a href="/">Marciano</a></h4>
        <ul class="navbar-links">
            <li class="navbar-link"><a href="/login">Login</a></li>
            <li class="navbar-link"><a href="/signup">Signup</a></li>
            <% if(isLogin) { %>
                <li class="navbar-link"><a href="/">Logout</a></li>
            <% } %>
        </ul>
    </nav>

    <div class="container">
        <h3>Admin name: <%= username %></h3>
        <h4>Session Id: <%= sessionID %></h4>
    
        <div class="table">
            <h4 class="table-title">List of signed up users</h4>
            <ul class="table-list">
                <li class="table-list-title">Username</li>
                <% users.forEach(user => { %>
                    <li class="table-list-item"><%= user.username %></li>
                  <% }); %>
            </ul>
        </div>
    </div>


</body>
</html>